{{ if not .Site.Params.hideColorSchemeToggle }}
<div class="float-container">
    <a><i title="to the top" style="align:center;font-size:20px" class="fa fa-arrow-circle-up" aria-hidden="true" value="top" onclick="window.scrollTo(0, 0)"></i></a>
    <a id="dark-mode-toggle" class="colorscheme-toggle"><i title="toggle me" style="align:center;font-size:20px" class="fa fa-adjust fa-fw" aria-hidden="true"></i></a>
    <a><i title="go back" style="align:center;font-size:20px" class="fa fa-arrow-circle-left" aria-hidden="true" onclick="history.back(-1)"></i></a>
    
<!--     {{ if .Site.IsMultiLingual }} 
    {{ range (default .Site.Home.AllTranslations .Translations) }}
    {{ if ne $.Site.Language .Language }}
    <a title="language" style="align:center;font-size:20px" class="fa fa-globe" aria-hidden="true" href="{{ .Permalink }}" ></a>
    {{ end }}
    {{ end }}
    {{ end }} -->
</div>
{{ end }}
