<style>
  .button {
    padding: 7px 5px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    #background-color: darkgrey;
    border: none;
    border-radius: 10px;
    #box-shadow: 0 9px #999;
  }
  
  .button:hover {
    color: #ffffff;
    background-color: rgba(254, 255, 246, 0)
  }
  
  .button:active {
    background-color: #3e8e41;
    #box-shadow: 0 5px #666;
    transform: translateY(4px);
  } 
  .icon-search {
    padding: 7px 5px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color:white;
    background-color:black;
    border: none;
    border-radius: 10px;
    #box-shadow: 0 9px #999;
}

  </style>
  </head>

{{ if not .Site.Params.hideFooter | default false }}
<footer class="footer">    
  <section class="container">    
    <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a class="button" style="font-weight:bold;color:darkgrey" href="https://goo.gl/maps/WwmMEr77souJBdHE8" target="_blank">[59°54'52"N 10°45'8"E]</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a class="button" style="font-weight:bold;color:darkgrey" href="mailto:samiulsaki@gmail.com">samiulsaki@gmail.com</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 
    <i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a class="button" style="font-weight:bold;color:darkgrey" href="tel:+4745838344">+47 458 38 344</a></br>
    <!-- &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; -->
    <!-- <i class="fa fa-skype" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a class="button" style="font-weight:bold;color:darkgrey" href="https://join.skype.com/invite/m9u76o4rbFQr">samiul.saki</a></br> -->
    </br>
    

      {{ with .Site.Params.footerContent | safeHTML }}
        <p>{{ . }}</p>
      {{ end }}
      {{ if not .Site.Params.hideCopyright }}
        ©
        {{ if (and (.Site.Params.since) (lt .Site.Params.since now.Year)) }}
          {{ .Site.Params.since }} -
        {{ end }}
        {{ now.Year }}
        {{ with .Site.Params.author }} {{ . }} {{ end }}
      {{ end }}
      {{ if not .Site.Params.hideCredits }}
        {{ if not .Site.Params.hideCopyright }} · {{ end }}
        {{ i18n "powered_by" }} <a style="color:darkgrey" href="https://gohugo.io/" target="_blank">Hugo</a>, <a style="color:darkgrey" href="https://github.com/luizdepra/hugo-coder/" target="_blank">Coder</a> & <a style="color:darkgrey" href="https://about.gitlab.com/stages-devops-lifecycle/continuous-integration/" target="_blank">Gitlab CI/CD</a> 
    </br></br>
      <a style="font-weight:bold;color:darkgrey;font-size:10px;"  href="/downloadables/CookieDeclaration.html" target="popup" onclick="window.open('/downloadables/CookieDeclaration.html','popup','width=1000,height=800, top=100'); return false;">[THATS THE WAY THE COOKIE CRUMBLES]</a>
    </br>

      {{ end }}
      {{ if .Site.Params.commit }}
        {{ if .GitInfo }}
          [<a href="{{ .Site.Params.commit }}/{{ .GitInfo.Hash }}">{{ .GitInfo.AbbreviatedHash }}</a>]
        {{ end }}
      {{ end }}
      
    </section>
  </footer>
{{ end }}


