<nav class="navigation">
  <section class="container">
    <a class="navigation-title" href="{{ .Site.BaseURL | relLangURL }}">
      {{ .Site.Title }}
    </a>
    {{ if or .Site.Menus.main .Site.IsMultiLingual }}
      <input type="checkbox" id="menu-toggle" />
      <label class="menu-button float-right" for="menu-toggle">
        <i class="fa fa-bars fa-fw" aria-hidden="true"></i>
      </label>
      <ul class="navigation-list">
        {{ with .Site.Menus.main}}
          {{ range sort . }}
            <li class="navigation-item">
              <a class="navigation-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        {{ end }}
        {{ if .Site.IsMultiLingual }}
          {{ $node := . }}
          {{ .Scratch.Set "separator" true }}
          {{ range (default .Site.Home.AllTranslations .Translations) }}
            {{ if ne $.Site.Language .Language }}
              {{ if $node.Scratch.Get "separator" }}
                <li class="navigation-item menu-separator">
                  <span>|</span>
                </li>
                {{ $node.Scratch.Set "separator" false }}
              {{ end }}
              <li class="navigation-item">
                <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
              </li>
            {{ end }}
          {{ end }}
        {{ end }}
        <script>
          // Append to the <body>; can use a CSS selector to append somewhere else.
          window.goatcounter.visit_count({ append: 'body' })
        </script>
        <!-- Google Tag Manager -->
        <!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-NW52C94');</script> -->
        <!-- End Google Tag Manager -->
        <script data-goatcounter="https://samiulsaki.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
        <!-- <script src="https://cmp.osano.com/16CVvkSWv29qJ1Vhz/c97a43c6-f359-4ac9-bcee-df9ded87224c/osano.js"></script> -->        
        <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="d5ec0c40-cb33-4d2c-b662-3258582cc995" data-blockingmode="auto" type="text/javascript"></script>
        
      </ul>
    {{ end }}
  </section>
</nav>

