<section class="container centered">
  <div class="about">
    {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
      {{ with .Site.Params.avatarURL }}
        <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
      {{ end }}
    {{ end }}
    {{ with .Site.Params.gravatar }}
      <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div>
    {{ end }}
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort . "weight" }}
        {{ if .icon }}
          <li>
            <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
              <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
          </li>
        {{ else }}
          <li>
            <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
          </li>
        {{ end }}
      {{ end }}
      <!-- <script src="https://cmp.osano.com/16CVvkSWv29qJ1Vhz/c97a43c6-f359-4ac9-bcee-df9ded87224c/osano.js"></script> -->
      <!-- <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="27e1b7fd-26af-499b-b615-3822abcae6a0" data-blockingmode="auto" type="text/javascript"></script> -->
      <!-- <script id="CookieDeclaration" src="https://consent.cookiebot.com/27e1b7fd-26af-499b-b615-3822abcae6a0/cd.js" type="text/javascript" async></script> -->
    </ul>
    {{ end }}
  </div>
</section>
