<section class="container centered">  
  <header>
    <body style="background-color:rgb(239, 221, 172);"></body>
    <h1>This website uses cookies to make it better. By continuing to use the site, you agree to our use of cookies. </h1>
  </header>
  
  <div id="consent" class="consent">
      <p><script id="CookieDeclaration" src="https://consent.cookiebot.com/d5ec0c40-cb33-4d2c-b662-3258582cc995/cd.js" type="text/javascript" async></script></p>
      <span><button type="button" onclick="window.open('', '_self', ''); window.close();" title="Agree to cookies and close this window">Agree & Close</button></span>
  </div>
</section>